<div>
  <parties-form style="float: left"></parties-form>

  <input type="text" #searchtext placeholder="Search by Location">
    <button type="button" (click)="search(searchtext.value)">Search</button>

    <button type="button" (click)="hktest('hi mom sent  ')">hktest</button>

    <login-buttons></login-buttons>

    <br>hbkemail{{hbkemail}}hbkemail
    <br>hbkuserid{{hbkuserid}}hbkuserid
    <br>usersFindFetch3email{{usersFindFetch3email}}usersFindFetch3email
    <br>hbkemailremote{{hbkemailremote}}hbkemailremote


    <ul>
        <p>xxx{{hbkhbk}}ttt</p>
        <li *ngFor="let party of parties; let i = index">
            <a [routerLink]="['/party', party._id]">{{party.name}}</a>
            indx {{i}}</p>
            desc {{party.description}}</p>
            loc {{party.location}}</p>
            public {{party.public}}</p>
            owner {{party.owner}}</p>
            <button (click)="removeParty(party)">X</button>
        </li>
    </ul>
</div>
