<div>
  <parties-form style="float: left"></parties-form>

  <input type="text" #searchtext placeholder="Search by Location">
    <button type="button" (click)="search(searchtext.value)">Search</button>

    <button type="button" (click)="hktest('hi mom sent  ')">hktest</button>

    <login-buttons></login-buttons>

    <br>hbkemail{{hbkemail}}hbkemail
    <br>hbkuserid{{hbkuserid}}hbkuserid
    <br>usersFindFetch3email{{usersFindFetch3email}}usersFindFetch3email
    <br>hbkemailremote{{hbkemailremote}}hbkemailremote
    <br>currentUsername{{currentUsername}}currentUsername


    <ul>
        <p>xxx{{hbkhbk}}ttt</p>
        <li *ngFor="let partyx of parties; let i = index">
            <a [routerLink]="['/party', partyx._id]">{{partyx.name}}</a>
            indx {{i}}</p>
            desc {{partyx.description}}</p>
            loc {{partyx.location}}</p>
            public {{partyx.public}}</p>
            owner {{partyx.owner}}</p>
            <button (click)="removeParty(party)">X</button>s
        </li>
    </ul>
</div>
